@import '@/styles/settings.scss';

$margin-small: 10px;
$margin-big: 110px;

.feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &--reverse {
        flex-direction: row-reverse;
    } 

    &__details {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 20px 0;

        &-title {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 24px;
            color: $color-gray-dark;
        }

        &-description {
            font-size: 15px;
            white-space: pre-line;
        }
    }

    &__image {
        height: 500px;
    }
}