@import '@/styles/settings.scss';

html, body {
    position: relative;
    margin: 0;
  }
  
  #app {
    background: $color-gray-dark;
    font-family: 'Rubik', 'Avenir', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }