@import '@/styles/settings.scss';

.header {
  background: $color-gray-dark;

  &__container {
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  &__item {
    &-image {
      margin: 50px;
      max-width: 400px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-description {
      margin: 20px 0;
      color: $color-white;
      text-align: center;

      &-name {
        font-size: 50px;
        font-weight: bold;
      }

      &-icon {
        width: 140px;
        margin: 25px 0;
      }

      &-title {
        font-size: 25px;
        font-weight: bold;
        line-height: 1;
      }

      &-subtitle {
        line-height: 1.5;
        font-size: 14px;
        margin-top: 10px;
      }
    }

    &-links {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      &-googleplay {
        width: 200px;
      }

      &-github {
        margin-left: 20px;
        width: 180px;
      }
    }
  }
}