@import '@/styles/settings.scss';

.header {
  height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    &-image {
      margin: 40px 20px 0 20px;
      max-width: 475px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-description {
      max-width: 500px;
      color: $color-white;
      text-align: justify;
      margin: 0 20px;

      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-name {
        font-size: 38px;
        font-weight: bold;
        color: $color-red;
      }

      &-icon {
        width: 100px;
        margin: 15px 10px 15px -11px;
      }
      
      &-subtitle {
        line-height: 1.2;
        font-size: 26px;
        font-weight: bold;
        margin-top: 10px;
      }

      &-overview {
        text-align: justify;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 15px;
      }
    }

    &-links {
      margin: 0 0 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      &-googleplay {
        width: 180px;
        margin: 10px 20px 0 10px;
      }

      &-github {
        width: 160px;
        margin: 10px 20px 0 20px;
      }

      &-twitter {
        width: 52px;
        height: 52px;
        margin: 10px 10px 0 20px;
      }
    }
  }
}