@import '@/styles/settings.scss';

.header {

  &__container {
    height: 100vh;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  &__item {
    &-image {
      margin: 50px;
      max-width: 475px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-description {
      max-width: 500px;
      color: $color-white;
      text-align: justify;

      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &-name {
        font-size: 38px;
        font-weight: bold;
        color: $color-red;
      }

      &-icon {
        width: 100px;
        margin: 15px 10px 15px -11px;
      }
      
      &-subtitle {
        line-height: 1.2;
        font-size: 26px;
        font-weight: bold;
        margin-top: 10px;
      }

      &-overview {
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 40px;
        font-weight: 200;
        font-size: 15px;
      }
    }

    &-links {
      margin-top: 20px;
      display: flex;
      justify-content: start;
      align-items: center;

      &-googleplay {
        width: 180px;
      }

      &-github {
        margin-left: 20px;
        width: 160px;
      }

      &-twitter {
        margin-left: 30px;
        width: 52px;
        height: 52px;
      }
    }
  }
}