@import '@/styles/settings.scss';

.features {
    margin: 20px 100px;

    &__caption {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        color: $color-red;

        &-bottom {
            margin-bottom: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: $color-white;
        }
        
        &-more {
            margin: 10px 10px 0 0;
            font-size: 16px;
            font-weight: 100;
            line-height: 1.2;
            color: $color-white;
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 4px;
        margin-bottom: 12px;

        &-item {
            flex: 1 0 40%;
            margin: 20px 16px;
        }
    }
}